/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Шапка */
header {
    background-color: #707070;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Навигация */
nav {
    background-color: #ffd900;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

nav h2 {
    color: white;
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #ffbe32d3;
    border-radius: 3px;
}

nav ul a:hover {
    background-color: #ffd000;
}

/* Статья */
article {
    padding: 20px;
    background-color: #848569;
    border-radius: 5px;
    margin-bottom: 20px;
}

article img {
    height: 50px;
    border: 2px solid #ad8c61;
    border-radius: 4px;
    display: block;
    margin-top: 10px;
}

/* Подвал */
footer {
    background-color: #ffb45e;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}